<div class="modal-header">
  <h5 class="modal-title text-center">Notification for submission</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container" *ngIf="isAccepted()">
    <h5 class="text-center text-success"> your submission got accepted, you gain {{submission.score}} points</h5>
  </div>
  <div class="container" *ngIf="isRejected()">
    <h5 class="text-center text-danger"> your submission got rejected</h5>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">Close</button>
</div>
