<div class="custom-background" style="background-image: url('./assets/img/Cover.jpg');background-position: center">
    <nav class="navbar navbar-expand-lg navbar-dark background-nav">
        <div class="navbar-brand mr-auto">
    <span>
      <a href="/">
          <img src="../../assets/img/logo.png" height="50">
      </a>
    </span>
            <span>
        <label *ngIf="pendingReports != 0" class="ml-5 {{textDanger}}">Pending Reports: {{pendingReports}}</label>
    </span>
        </div>
        <form class="form-inline">
            <button type="button" class="btn btn-outline-danger btn-round" (click)="disconnect()">Disconnect</button>
        </form>
    </nav>
    <perfect-scrollbar style="max-height: calc(100% - 12vh);" [config]="config">

        <div class=" container container-fluid text-white text-center background-card mt-2">
            <div class="row font-weight-bold">
                <div class="col-sm-2 col-md-2 col-lg-2 change-cursor" (click)="sortBy('time')">
                    time
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 change-cursor" (click)="sortBy('status')">
                    status
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 change-cursor" (click)="sortBy('team id')">
                    team id
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    file
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 change-cursor" (click)="sortBy('score')">
                    score gained
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    judge
                </div>
            </div>
            <hr>
            <div *ngFor="let submission of submissions" class="row">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    {{submission.time}}
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    {{submission.status}}
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    {{submission.team.id}}
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 center-btn">
                    <div class="center-btn">
                        <button type="submit" class="btn btn-outline-success center-btn custom-height-btn"
                                (click)="showFile(submission.id)">download report
                        </button>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    {{submission.score}}
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 center-btn">
                    <div class="center-btn">
                        <app-judge-report [submissions]="submissions" [submission]="submission" ></app-judge-report>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </perfect-scrollbar>

</div>
