<div class="custom-background" style="background-image: url('./assets/img/Cover.jpg');background-position: center">
    <nav class="navbar navbar-expand-lg navbar-dark background-nav">
        <div class="navbar-brand mr-auto">
    <span>
      <a href="/">LOGO HERE</a>
    </span>
    <span>
        <label class="ml-5">your score: {{team.score}}</label>
    </span>
        </div>
        <form class="form-inline">
            <button type="button" class="btn btn-outline-danger btn-round" (click)="upload()">upload report</button>
        </form>
        <form class="form-inline">
            <button type="button" class="btn btn-outline-danger btn-round" (click)="disconnect()">Disconnect</button>
        </form>
    </nav>
    <perfect-scrollbar style="max-height: calc(100% - 12vh);" [config]="config">

    <div class=" container container-fluid text-white text-center background-card mt-3">
        <div class="row font-weight-bold">
            <div class="col-sm-3 col-md-3 col-lg-3 change-cursor" (click)="sortBy('time')">
                time
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 change-cursor" (click)="sortBy('status')">
                status
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 change-cursor" (click)="sortBy('score')">
                score gained
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                file
            </div>
        </div>
        <hr>
        <div *ngFor="let submission of submissions" class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                {{submission.time}}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                {{submission.status}}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                {{submission.score}}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 center-btn">
                <div class="center-btn">
                    <button class="btn btn-outline-success center-btn custom-height-btn">preview file</button>
                </div>
            </div>
            <hr>
        </div>
    </div>        </perfect-scrollbar>

</div>
